script/vendor/*
!script/vendor/slim/
script/vendor/slim/*
!script/vendor/slim/slim-skeleton/
script/vendor/slim/slim-skeleton/*
!script/vendor/slim/slim-skeleton/app/
!script/vendor/slim/slim-skeleton/src/
!script/vendor/slim/slim-skeleton/path.php
script/mailer/
public/
!public/api
public/api/cache/

# Executables
*.env
*.yml
.htpasswd
